{% load static %}
<!-- Navbar -->
<nav class="blog-header py-3" id="navbar">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-2 pt-1">
        <a class="text-muted" href="{% url 'index' %}"><img src="{% static './img/logo_transparent.png' %}" width="60px;" height="60px;"></a>
      </div>
      <div class="col-8 text-center">
        <a class="blog-header-logo text-custom" href="#">Weclome, to TODOS APP!</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </nav>
   <!-- End Navbar -->